<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %highlight(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%.-15thread]) %highlight(%-5level) %cyan(%logger{20}) %yellow([%M]) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>

<!--
<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <property name="LOG_PATH" value="logs" />
    <property name="LOG_FILE_NAME" value="app-log" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <prettyPrint>true</prettyPrint>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <prettyPrint>true</prettyPrint>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="File" />
    </root>

    <logger name="org.springframework" level="INFO" />
    <logger name="com.dishant.tasks" level="DEBUG" />
</configuration>
-->
